@use 'partials/variables' as *;
@use 'partials/utilities' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;   
  -moz-osx-font-smoothing: grayscale;   
  text-rendering: optimizeLegibility;    
  font-smooth: always;         
  font-family: var(--primary-font);
  color: #000;
  line-height: 1.6;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;
}