$space-sm: 30px;
$space-md: 60px;
$space-lg: 90px;
$space-xl: 100px;

:root {
  // Colors
  --color-1: #1F4140;
  --color-2: #FCF9EB;
  --white: #fff;
  --black: #000;

  // Fonts
  --primary-font: "Roboto Flex";
} 